<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <lag.framework>
    <dataaccess>
      <placeholder>
        <add find="replaced_sqlinstance" replace="sql3.mcis.agrinet.local" />
      </placeholder>
    </dataaccess>
  </lag.framework>

  <connectionStrings>
    <!--<add name="FrageDao" connectionString="provider=SQLOLEDB;Password=B2RkphT2BAfVp8;User ID=db930888_admin;Persist Security Info=False;Initial Catalog=db930888;Data Source=sql3.mcis.agrinet.local"/>-->
	  <!--<add name="SoldatDao" connectionString="provider=SQLOLEDB;Password=B2RkphT2BAfVp8;User ID=db930888_admin;Persist Security Info=False;Initial Catalog=db930888;Data Source=sql3.mcis.agrinet.local"/>-->
    <add name="FrageDao" connectionString="provider=SQLOLEDB;Persist Security Info=False;Initial Catalog=BrainWashFuck;Data Source=localhost"/>
	  <add name="SoldatDao" connectionString="provider=SQLOLEDB;Persist Security Info=False;Initial Catalog=BrainWashFuck;Data Source=localhost"/>
  </connectionStrings>

</configuration>